<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online System</title>
    
    <link rel="shortcut icon" href="images/shortico.ico">
	<!-- BOOTSTRAP STYLES-->
    <link href="../style/css/bootstrap.css" rel="stylesheet" type="text/css"/>
     <!-- FONTAWESOME STYLES-->
    <link href="../style/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <!-- CUSTOM STYLES-->
    <link href="../style/css/custom.css" rel="stylesheet" type="text/css"/>
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   
    <script type="text/javascript" src="../script/jquery-1.11.2.js"></script>
   
   

   
  
</head>
<body>

    
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OL</a> 
            </div>
			<div style="color: white;padding: 15px 50px 5px 50px;float:right;font-size: 16px;"> 
	        <a href="#" class="btn btn-danger square-btn-adjust">Get a book</a> 
			 <a href="/rent" class="btn btn-danger square-btn-adjust">Rent a book</a> </div>
			  <a href="/donate" class="btn btn-danger square-btn-adjust">Donate a book</a> </div>
			
        </nav>   
        <!-- /. NAV TOP  -->

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">


                     
                    
                    <li>
                        <a class="active-menu" href="#">Personal Information<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a  href="/update_email">Update Email/Moblie </a>
                            </li>
                            <li>
                                <a href="/add_address">Addresses</a>
                            </li>
                             <li>
                                <a   href="/change_password">Change Password</a>
                            </li>
                        </ul>
                      </li>   

                        
                   <li>
                        <a  href="#">Your Orders</a>
                    </li>
                    <li  >
                        <a   href="#">Offers</a>
                    </li>	
					<li>
						<a href="#">Credits</a>
					</li>
                			
					
					                   
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->

        <div id="page-wrapper" >
            <div id="page-inner">
			
			<div class="form-group"  style="padding:70px;">
                 <div style="width:600px;border:1px;">
					
					<div style="width:150px; float:left; text-align:center;">
					<a href="#"><img src="" style="width:800px;height: 500px;" /></a>
						<br/>
					<div style="text-align:center; padding:30px;">
						<a href="#"  class="btn btn-lg btn-primary btn-block "><span >Buy</span></a>
						</br>
						
						<a  href="#" class="btn btn-default btn-lg" ><span >Add to cart</span></a>
					</div>
					</div>
				</div>
			</div>
		
		
		
		
		 <div style="width:600px;border:1px; padding:700px 70px;">
					<hr>
					<div style="width:150px; float:left; text-align:center;">
					<a  href="#"><img src="" style="width: 120px;height: 160px;" /></a>
						<br/>
					<a href="#" ><span >Book 1</span></a>
					</div>
					
					<div style="width: 150px; float:left; text-align:center;">
					<img src="" style="width: 120px;height: 160px;" />
					<br/>
					<a href="sigin.html" ><span >Book 2</span></a>
					</div>
					
					<div style="width: 150px; float:left; text-align:center;">
					<img src="" style="width: 120px;height: 160px;" />
					<br/>
					<a href="sigin.html" ><span >Book 3</span></a>
					</div>
					<a style= "text-align:right;"href="#">See more</a>
					<hr>
			</div>
		
		
		
		
		</div>
		
		
		<!--/. PANEL-BODY -->
			
			
		</div><!--/. PANEL PANEL-DEFAULT -->

		</div>
		 
           
		
		
		
		
		
		
		<!--/. PANEL-BODY -->
			
			
		<!--/. PANEL PANEL-DEFAULT -->

		
		
    </div>
             <!-- /. PAGE INNER  -->
        
        <!-- /. PAGE WRAPPER  -->

    
     <!-- /. WRAPPER  -->

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

    <script src="assets/js/jquery.validate.js"></script>

    
   
</body>
</html>
